<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hut.keshe.library.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="edu.hut.keshe.library.pojo.Admin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_id, admin_name, password
  </sql>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_info
    where admin_name = #{adminName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from admin_info
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.hut.keshe.library.pojo.Admin">
    insert into admin_info (admin_name, password )
    values (#{adminName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR} )
  </insert>
  <update id="updateById" parameterType="edu.hut.keshe.library.pojo.Admin">
    update admin_info
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>