<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hut.library.dao.ReturnInfoMapper">
  <resultMap id="BaseResultMap" type="edu.hut.library.pojo.ReturnInfo">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="reader_id" jdbcType="BIGINT" property="readerId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <association property="bookInfo" column="book_id" javaType="edu.hut.library.pojo.Book" select="edu.hut.library.dao.BookMapper.selectBookById"/>
  </resultMap>
  <sql id="Base_Column_List">
    r_id, reader_id, book_id, borrow_time, return_time
  </sql>
  <select id="selectReturnRecords" parameterType="java.lang.Number" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from return_info
    <where>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=BIGINT}
      </if>
      <if test="bookId != null">
        and book_id = #{bookId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <insert id="insertReturnRecord" parameterType="edu.hut.library.pojo.ReturnInfo">
    insert into return_info (reader_id, book_id,
      borrow_time, return_time)
    values (#{readerId,jdbcType=BIGINT}, #{bookId,jdbcType=INTEGER},
      #{borrowTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>