<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hut.library.dao.ReturnInfoMapper">
  <resultMap id="BaseResultMap" type="edu.hut.library.pojo.ReturnInfo">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="reader_id" jdbcType="BIGINT" property="readerId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, reader_id, book_id, borrow_time, return_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from return_info
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from return_info
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.hut.library.pojo.ReturnInfo">
    insert into return_info (r_id, reader_id, book_id, 
      borrow_time, return_time)
    values (#{rId,jdbcType=INTEGER}, #{readerId,jdbcType=BIGINT}, #{bookId,jdbcType=INTEGER}, 
      #{borrowTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="edu.hut.library.pojo.ReturnInfo">
    insert into return_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        r_id,
      </if>
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="borrowTime != null">
        borrow_time,
      </if>
      <if test="returnTime != null">
        return_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="readerId != null">
        #{readerId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="borrowTime != null">
        #{borrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.hut.library.pojo.ReturnInfo">
    update return_info
    <set>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="borrowTime != null">
        borrow_time = #{borrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.hut.library.pojo.ReturnInfo">
    update return_info
    set reader_id = #{readerId,jdbcType=BIGINT},
      book_id = #{bookId,jdbcType=INTEGER},
      borrow_time = #{borrowTime,jdbcType=TIMESTAMP},
      return_time = #{returnTime,jdbcType=TIMESTAMP}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>